---
import { t } from '../i18n/utils';
import { getLanguageFromPath } from '../i18n/config';
import PortfolioGrid from './PortfolioGrid';
import type { PortfolioItem } from './PortfolioGrid';
import ModalManager from './ModalManager';
import { getPortfolioItems, aboutMeData } from '../data/portfolio';
import { fetchGitHubReadme, fetchMediumArticles } from "../utils/fetchers";
import AboutMeHydrator from './AboutMeHydrator';

const lang = getLanguageFromPath(Astro.url.pathname);
const tr = (key: string) => t(lang, key);

const mediumArticles = await fetchMediumArticles("@andriipap");

// Use static initial items augmented with fetched data
const initialItems = getPortfolioItems(tr, mediumArticles);
---

<section class="py-16 px-4 max-w-7xl mx-auto">
  <PortfolioGrid client:load initialItems={initialItems} />
  <ModalManager client:idle />
</section>
