---
import { t } from '../i18n/utils';
import { getLanguageFromPath } from '../i18n/config';
import PortfolioGrid from './PortfolioGrid';
import type { PortfolioItem } from './PortfolioGrid';
import { getPortfolioItems } from '../data/portfolio';
import { fetchMediumArticles } from "../utils/fetchers";

const lang = getLanguageFromPath(Astro.url.pathname);
const tr = (key: string) => t(lang, key);

const mediumArticles = await fetchMediumArticles("@andriipap");


const initialItems = getPortfolioItems(tr, mediumArticles);
---

<section class="py-16 px-4 max-w-7xl mx-auto">
  <PortfolioGrid client:idle initialItems={initialItems} />
</section>
